<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            {% if session["user_id"] %}
                <li><a href="/profiles">Profiles</a></li>
                <li><a href="/settings">Profile Settings</a></li>
                <li><a href="/logout">Log out</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="/requests">Requests</a></li>
                <li><a href="/requests_sent">Sent requests</a></li>
            {% else %}
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>