{% extends "layout.html" %}
{% block title %}
    {{ username }}'s Profile
{% endblock %}

{% block content %}
    <h1>{{ username }}</h1>

    <h2>Personal info</h2>
    <ul>
        <li>Name: {{ name }}</li>
        <li>Email: {{ email }}</li>
        <li>Phonenumber: {{ phone }}</li>
    </ul>

    <form action="/profile" method="post">
        <input type="hidden" name="action" value="{{ username }}">
        <input type="submit" value="Add friend">
    </form>
{% endblock %}